.dom{
    color:red;
    /* background-color: red; */

}
body{
    margin: 0;
    padding: 0;
} 
.chatSite{
    /* padding-top: 6%; */
    /* margin-top:  6%; */
background-color: rgb(33, 60, 65);
margin: 0;
width: 100%;
min-height: 100vh;
/* height: 100vh; */
/* height: fit-content; */
/* background-size: cover; */
/* background-position: center; */

/* background-repeat: no-repeat; */
  /* background-size: cover; */
  /* background-attachment: fixed; */
}

.fon{
display: flex;
justify-content: center;
align-items: center;
}

.panelChat{
    margin-top: 7%;
    /* padding-top: 100%; */
    width: 35%;
    height: 80vh;
    background-color: rgb(160, 203, 204);
    border-radius: 5%;

}


.topPanel{
    position: fixed;
    top: 2%;
    width:100%;
    background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:333px;
    padding-top:16px ;
    padding-bottom: 16px;
    background-image: url(https://img3.akspic.ru/crops/7/3/9/3/5/153937/153937-estetika-oblako-atmosfera-dnevnoe_vremya-neboskreb-1920x1080.jpg) ;
    border-radius:30px;
    margin-top: 10px;
}
.loginTop{
  position: fixed;
  top: 2%;
    width:100%;
    background-color: rgb(66, 64, 64);
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:333px;
    padding-top:16px ;
    padding-bottom: 16px;
    /* background-image: url(https://img3.akspic.ru/crops/7/3/9/3/5/153937/153937-estetika-oblako-atmosfera-dnevnoe_vremya-neboskreb-1920x1080.jpg) ; */
    border-radius:30px;
    margin-top: 10px;


}

.chatForm{
    position: fixed;
    top: 2%;
    width:100%;
    background-color: rgb(199, 4, 4);
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:333px;
    padding-top:16px ;
    padding-bottom: 16px;
    /* background-image: url(https://img3.akspic.ru/crops/7/3/9/3/5/153937/153937-estetika-oblako-atmosfera-dnevnoe_vremya-neboskreb-1920x1080.jpg) ; */
    border-radius:30px;
    margin-top: 10px;


}

.Home{
    padding-top: 6%;
    width: 100%;
    min-height:100vh ;
    margin: 0px;
    background-color: aquamarine;
     background-image: url("https://abrakadabra.fun/uploads/posts/2022-04/1648790766_3-abrakadabra-fun-p-krasivie-anime-foni-dlya-rabochego-stola-3.jpg");
  background-size: cover;
  /* background-repeat: no-repeat; */
  background-position: center;
  background-attachment: fixed; 
}

.generalHome{
    /* margin-top: 20%; */
      width: 100%;
      /* margin-top: 10px; */
    /* убираем огромный padding */
    /* padding-bottom: 1000px;  */
    /* background-color: rgba(0,0,0,0.5);  */
    /* margin-top: 1000px; */
    /* margin: auto; */
}

.login{
    background-image: url('https://img.freepik.com/free-photo/digital-art-with-city-landscape-architecture_23-2151065702.jpg?semt=ais_hybrid&w=740&q=80');
    background-size:cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginForm{
    width: 28%;
    height: 65vh;
    background-color:rgba(109, 109, 103, 0.555);;
    border-radius: 5%;
    margin-top:50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px ;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.loginForm1{
    width: 28%;
    height: 60vh;
    background-color:rgba(109, 109, 103, 0.473);
 flex-direction: column;
    border-radius: 5%;
    margin-top:50px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px 100px;
     font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

#userform{
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 50px ;
    font-size: 22px;
}

#userform1{
    display: flex;
    flex-direction: column;
    gap: 50px ;
    font-size: 22px;
}
#username{

    width: 215px;
    height: 5vh;
    text-align: center;
    margin-left: 33px;

}

#userpassword{
    text-align: center;
       width: 215px;
    height: 5vh;
    /* padding-left: 50px; */
    
}

#userbutton{
    align-self: center;
    height: 5vh;
    width: 100px;
    background-color:rgb(80, 76, 76);
    /* (17, 214, 214); */
    color: rgb(0, 0, 0);
    border: 0;
}

#formitem{
    margin: 0;
}

#joker{
    width: 100%;
    height: 30vh;
    background-color: red;
}

.profilepage{
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-color: rgba(99, 97, 97, 0.274);
    background-image: url('https://media.istockphoto.com/id/1055012794/vector/vector-realistic-isolated-black-brick-wall-background-for-template-and-layout-decoration.jpg?s=612x612&w=0&k=20&c=FuWrqe1oYtoNVgaS2OtpCOB9WnSg5hCd2X0PHXhiqc8=');
}

.nextprof{
    height: 100vh;
    width: 100%;
    background-color: rgba(129, 124, 124, 0.322);
}

