.dom{
    color:red;
    /* background-color: red; */

}
body{
    margin: 0;
    padding: 0;
}
.topPanel{
    position: fixed;
    width:100%;
    background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:333px;
    padding-top:16px ;
    padding-bottom: 16px;
    background-image: url(https://img3.akspic.ru/crops/7/3/9/3/5/153937/153937-estetika-oblako-atmosfera-dnevnoe_vremya-neboskreb-1920x1080.jpg) ;
    border-radius:30px;
    margin-top: 10px;
}

.Home{
    padding-top: 60px;
    width: 100%;
    height: 100vh;
    margin: 0px;
    background-color: aquamarine;
     background-image: url("https://abrakadabra.fun/uploads/posts/2022-04/1648790766_3-abrakadabra-fun-p-krasivie-anime-foni-dlya-rabochego-stola-3.jpg");
  background-size: cover;
  background-position: center;
}

/* img{
     display: block;
  margin:  auto;
  max-width: 100%;
} */

